In [1]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine

In [3]:
UNIDAD_SIGCOM = pd.read_excel('sistema_de_alimentacion.xlsx', sheet_name='UNIDAD SIGCOM')
UNIDAD_SIGCOM

    IdTipoUnidad                    DescTipoUnidad Habilitado
0             65       HOSPITALIZACIÓN PENSIONADOS          S
1             66  HOSPITALIZACIÓN MEDICINA INTERNA          S
2             90        HOSPITALIZACIÓN QUIRÚRGICA          S
3            113       HOSPITALIZACIÓN OBSTETRICIA          S
4            114       HOSPITALIZACIÓN GINECOLOGÍA          S
..           ...                               ...        ...
56           652          SERVICIO DE ALIMENTACIÓN          S
57         95201              LAVANDERIA Y ROPERIA          S
58         95501                     MANTENIMIENTO          S
59           670                    ADMINISTRACIÓN          S
60         99544                    TRABAJO SOCIAL          S

[61 rows x 3 columns]

In [8]:
engine = create_engine("mysql+mysqlconnector://supercha_hospital:hospital123@supercharly.cl/supercha_hospital")

In [ ]:
UNIDAD_SIGCOM.to_sql("TipoUnidad", engine, if_exists="replace", index=False)

In [ ]:
SERVICIO = pd.read_excel('sistema_de_alimentacion.xlsx', sheet_name='SERVICIO')
SERVICIO

    IdTipoServicio                         DescTipoServicio Habilitado
0                0                  SIN UNIDAD - HONORARIOS          S
1             1104  SUB. GESTION DESARROLLO DE LAS PERSONAS          S
2             1108         SUBDIRECCION GESTION DEL CUIDADO          S
3             1109     SUBDIRECCION DE ANALISIS INFORM GEST          S
4             1110                DEPARTAMENTO DE AUDITORIA          S
..             ...                                      ...        ...
92            4822                  POLICLINICO GINECOLOGIA          S
93            4837                                 MEDICINA          S
94            4842                         BODEGA ECONOMATO          S
95            4843                          BODEGA FARMACIA          S
96            4849                          LISTA DE ESPERA          S

[97 rows x 3 columns]

In [ ]:
SERVICIO.to_sql("TipoServicio", engine, if_exists="replace", index=False)

97

In [4]:
ESTAMENTO = pd.read_excel('sistema_de_alimentacion.xlsx', sheet_name='ESTAMENTO')
ESTAMENTO

   IdTipoEstamento DescTipoEstamento
0                1          AUXILIAR
1                2    ADMINISTRATIVO
2                3           TECNICO
3                4       PROFESIONAL
4                5            MEDICO
5                6        ODONTOLOGO
6                7           QUIMICO
7                8         DIRECTIVO

In [10]:
ESTAMENTO.to_sql("TipoEstamento", engine, if_exists="replace", index=False)

IntegrityError: (mysql.connector.errors.IntegrityError) 1217 (23000): Cannot delete or update a parent row: a foreign key constraint fails
[SQL:
DROP TABLE `TipoEstamento`]
(Background on this error at: http://sqlalche.me/e/14/gkpj)

In [12]:
TIPO_CONTRATO = pd.read_excel('sistema_de_alimentacion.xlsx', sheet_name='TIPO CONTRATO', header=1)
TIPO_CONTRATO

   IdTipoContrato                   TipoContrato
0               1                        TITULAR
1               2                       CONTRATA
2               3                      HONORARIO
3               4                EMPRESA EXTERNA
4               5                       SUPLENTE
5               6  ETAPA DESTINACIÓN Y FORMACIÓN

In [ ]:
TIPO_CONTRATO.to_sql("TipoContrato", engine, if_exists="replace", index=False)

4

In [ ]:
VIA = pd.read_excel('sistema_de_alimentacion.xlsx', sheet_name='VIA', header=1)
VIA

   IdTipoVia DescTipoVia
0          0        ORAL
1          1     ENTERAL
2          2  PARENTERAL

In [ ]:
VIA.to_sql("TipoVia", engine, if_exists="replace", index=False)

3

In [ ]:
REGIMEN = pd.read_excel('sistema_de_alimentacion.xlsx', sheet_name='regimen', header=1)
REGIMEN

    IdTipoRegimen     DescTipoRegimen Habilitado
0               0               COMUN          S
1               1             LIVIANO          S
2               2             SIN SAL          S
3               3   DIABETICO SIN SAL          S
4               4   DIABETICO CON SAL          S
5               5  BLANDO SIN RESIDUO          S
6               6             LIQUIDO          S
7               7             HIDRICO          S
8               8          SIN GLUTEN          S
9               9              BLANCO          S
10             10          SOPA MIXTA          S
11             11             ENTERAL          S
12             12                CERO          S
13             13      CREMA DE ARROZ          S
14             14            ESPECIAL          S
15             15         VEGETARIANO          S

In [ ]:
FUNCIONARIOS.to_sql("TipoRegimen", engine, if_exists="replace", index=False)

16

In [46]:
FUNCIONARIOS = pd.read_excel('sistema_de_alimentacion.xlsx', sheet_name='funcionarios')

In [47]:
FUNCIONARIOS.sample(20)

,RutFuncionario,DvFuncionario,NombreFuncionario,FechaInicioContrato,FechaTerminoContrato,Habilitado,correo,contrasena,IdTipoContrato,IdTipoFuncionario,IdTipoEstamento,IdTipoServicio,IdTipoUnidad,IdTipoRegimen
135,13843785,K,PEREZ AEDO JAMIE ZULEYKA,2023-01-01,2023-12-31,S,NaN,NaN,2,NaN,4,4707,676.0,0
590,15511304,9,ROJAS MENESES MARICELA CARMEN,2023-06-01,2023-12-31,S,NaN,NaN,2,NaN,3,3330,113.0,0
127,12178307,K,GODOY SILVA JORGE MANUEL,2021-07-01,NaT,S,NaN,NaN,1,NaN,2,4842,676.0,0
274,10179897,6,ARAOS ARMIJO SANDRA MARIA,2018-09-01,NaT,S,NaN,NaN,1,NaN,3,3970,95301.0,0
12,18761767,7,ASTORGA PIÑA BELEN CAROLINA,2023-07-01,2023-07-31,S,NaN,NaN,5,1.0,4,3950,652.0,0
546,20124742,K,PINTO GONZALEZ KATHERINE PILAR,2023-06-30,2023-07-05,S,NaN,NaN,5,NaN,3,3320,90.0,0
559,18213059,1,ALMARZA ESQUIVEL ANDREA DEL PILAR,2023-06-08,2023-07-19,S,NaN,NaN,2,4.0,4,3320,90.0,0
207,25783754,8,PLAZA MEJIA ELVIS MAURICIO,2023-07-14,2023-08-31,S,NaN,NaN,2,NaN,5,4670,15131.0,0
388,17397506,6,CACERES GUERRERO VANESA DEL PILAR,2023-01-01,2023-12-31,S,NaN,NaN,2,NaN,3,3303,65.0,0
729,16297678,8,MUÑOZ ARAYA KAREN LORENA,2023-04-01,2023-12-31,S,NaN,NaN,2,NaN,3,4756,670.0,0
746,10334468,9,RAMIREZ QUINTEROS ALEJANDRA DEYANIRA,2021-07-01,NaT,S,NaN,NaN,1,NaN,3,4737,0.0,0
321,15426347,0,ALARCON ARRATIA MARIA DE LOS ANGELES,2023-01-01,2023-12-31,S,NaN,NaN,2,NaN,4,4733,1994.0,0
751,11608450,3,CARREÑO LOPEZ MERCEDES CARMEN,2019-07-01,NaT,S,NaN,NaN,1,NaN,3,4737,0.0,0
53,14485682,1,HINOJOSA ACUÑA PATRICIA ANGELICA,2021-04-01,NaT,S,NaN,NaN,1,NaN,1,3510,230.0,0
195,25517556,4,GUACARAN ROMERO DOUGLAS OMAR,2023-01-01,2023-12-31,S,NaN,NaN,2,NaN,5,2120,NaN,0
432,19412165,2,NEGRETE JORQUERA FELIPE ARTURO,2023-07-01,2023-12-31,S,NaN,NaN,2,NaN,5,2110,NaN,0
549,12584653,K,ARAVENA LAPIERRE JESSICA PAOLA DEL CARMEN,2023-06-01,2023-12-31,S,NaN,NaN,2,NaN,3,3320,90.0,0
651,16576686,5,VALENZUELA ARCUCH JOHANA ANDREA,2023-01-01,2023-12-31,S,NaN,NaN,2,4.0,4,4535,66.0,0
508,9894557,1,LEON MUÑOZ CLAUDIO ROBERTO,2018-09-01,NaT,S,NaN,NaN,1,NaN,1,3980,95501.0,0
680,19750261,4,BUSTAMANTE JEREZ FERNANDO JAVIER,2023-01-01,2023-12-31,S,NaN,NaN,2,NaN,3,4535,66.0,0

In [48]:
FUNCIONARIOS.columns = FUNCIONARIOS.columns.str.replace('\xa0', '')

In [49]:
FUNCIONARIOS['IdTipoFuncionario'] = pd.to_numeric(FUNCIONARIOS['IdTipoFuncionario'], errors='coerce').fillna(0).astype(int)
FUNCIONARIOS['IdTipoUnidad'] = pd.to_numeric(FUNCIONARIOS['IdTipoUnidad'], errors='coerce').fillna(10000).astype(int)

In [50]:
FUNCIONARIOS['correo'] = FUNCIONARIOS['correo'].astype(object)
FUNCIONARIOS['contrasena'] = FUNCIONARIOS['contrasena'].astype(object)

In [52]:
FUNCIONARIOS.to_sql("Funcionario", engine, if_exists="replace", index=False)

857